body {
    background-color: rgb(39, 38, 38);
}
.container {
    width: 800px;
    height: 250px;
}
.bar {
    fill: #d65b5b;
}
.hidden {
    display: none;
  }
form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    margin: auto;
    margin-top: 1em;
    width: 24em;
    justify-content: space-between;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
.tooltip {
    background-color: #fff;
    padding: 6px;
    border: 2px solid;
    border-color: black;
    border-radius: 4px;
    position: absolute;
  }
  /* .map {
    width: 975px;
    height: 610px;
} */